<!--  This will be the base for most pages -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block head %}{% endblock head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <title>StreeTunes</title>
         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
    </head>
    <body>



        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>StreeTunes</h3>
                    <span><a href='{% url "streeTunes:dashboard" %}'><img src="{% static 'disc.png' %}" width="140" height="140"></a></span>

                </div>

                <ul class="list-unstyled components">
                    <p>Options</p>
                    <li class="active">

                    </li>

                    <li>
                        <a href='{% url "streeTunes:scan" %}'>Scan</a>
                    </li>
                    <li>
                        <a href='{% url "streeTunes:profile" %}'>Profile</a>
                    </li>
                    <li>
                        <a href='{% url "streeTunes:dashboard" %}'>Dashboard</a>
                    </li>
                    <li>
                        <a href='{% url "streeTunes:analytics" %}'>Analytics</a>
                    </li>
                </ul>

            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Menu</span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                            {% if username %}
                                <li><div style="margin-top: 15px">Welcome {{user.username}}</div></li>
                                <li><a href='{% url "streeTunes:logout" %}'>Logout</a></li>
                            {% endif %}
                            {% if username == null %}
                                <li><a href='{% url "streeTunes:login" %}'>Login</a></li>
                                <li><a href='{% url "streeTunes:signup" %}'>Signup</a></li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
                {% block content %}{% endblock content %}

            </div>
        </div>





        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>
    </body>
</html>
