<!--  This will be the base for most pages -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  {% block header %}{% endblock header %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <title>StreeTunes</title>
</head>
<body>

  <nav>
      <ul>
          <li><a href='{% url "streeTunes:scan" %}'>Scan</a></li>
          <li><a href='{% url "streeTunes:login" %}'>Login</a></li>
          <li><a href='{% url "streeTunes:signup" %}'>Signup</a></li>
          <li><a href='{% url "streeTunes:profile" %}'>Profile</a></li>
          <li><a href='{% url "streeTunes:dashboard" %}'>Dashboard</a></li>
      </ul>
  </nav>
  <div id="sidebar">
     {% block sidebar %}{% endblock sidebar %}
   </div>
   <div id="content">
     {% block content %}{% endblock content %}
   </div>
   <div id="footer">
     {% block footer %}{% endblock footer %}
   </div>

</body>
</html>
