<!--  This will be the base for most pages -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  {% block head %}{% endblock head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <title>StreeTunes</title>
</head>
<body>

  <nav>
      <ul>
          <a href='{% url "streeTunes:scan" %}' class="nav-link"><li>Scan</li></a>
          <a href='{% url "streeTunes:login" %}' class="nav-link"><li>Login</li></a>
          <a href='{% url "streeTunes:signup" %}' class="nav-link"><li>Signup</li></a>
          <a href='{% url "streeTunes:profile" %}' class="nav-link"><li>Profile</li></a>
          <a href='{% url "streeTunes:dashboard" %}' class="nav-link"><li>Dashboard</li></a>
          <a href='{% url "streeTunes:analytics" %}' class="nav-link"><li>Analytics</li></a>
      </ul>
  </nav>
  <div id="sidebar">
     {% block sidebar %}{% endblock sidebar %}
   </div>
   <div id="content">
     {% block content %}{% endblock content %}
   </div>
   <div id="footer">
     {% block footer %}{% endblock footer %}
   </div>

</body>
</html>
