{% extends "web/base.html" %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
var csrftoken = Cookies.get('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


// var context = new AudioContext();
// var source = null;
// var audioBuffer = null;
// Converts an ArrayBuffer to base64, by converting to string
// and then using window.btoa' to base64.
var bufferToBase64 = function (buffer) {
    var bytes = new Uint8Array(buffer);
    var len = buffer.byteLength;
    var binary = "";
    for (var i = 0; i < len; i++) {
        binary += String.fromCharCode(bytes[i]);
    }
    return window.btoa(binary);
};
// var base64ToBuffer = function (buffer) {
//     var binary = window.atob(buffer);
//     var buffer = new ArrayBuffer(binary.length);
//     var bytes = new Uint8Array(buffer);
//     for (var i = 0; i < buffer.byteLength; i++) {
//         bytes[i] = binary.charCodeAt(i) & 0xFF;
//     }
//     return buffer;
// };
// function stopSound() {
//     if (source) {
//         source.stop(0);
//     }
// }
// function playSound() {
//     // source is global so we can call .stop() later.
//     source = context.createBufferSource();
//     source.buffer = audioBuffer;
//     source.loop = false;
//     source.connect(context.destination);
//     source.start(0); // Play immediately.
// }
// function initSound(arrayBuffer) {
//     var base64String = bufferToBase64(arrayBuffer);
//     var audioFromString = base64ToBuffer(base64String);
//     document.getElementById("encodedResult").value=base64String;
//     context.decodeAudioData(audioFromString, function (buffer) {
//         // audioBuffer is global to reuse the decoded audio later.
//         audioBuffer = buffer;
//         var buttons = document.querySelectorAll('button');
//         buttons[0].disabled = false;
//         buttons[1].disabled = false;
//     }, function (e) {
//         console.log('Error decoding file', e);
//     });
// }
// // User selects file, read it as an ArrayBuffer and pass to the API.
// var fileInput = document.querySelector('input[type="file"]');
// fileInput.addEventListener('change', function (e) {
//     var reader = new FileReader();
//     reader.onload = function (e) {
//         initSound(this.result);
//     };
//     reader.readAsArrayBuffer(this.files[0]);
// }, false);
// // Load file from a URL as an ArrayBuffer.
// // Example: loading via xhr2: loadSoundFile('sounds/test.mp3');
// function loadSoundFile(url) {
//     var xhr = new XMLHttpRequest();
//     xhr.open('GET', url, true);
//     xhr.responseType = 'arraybuffer';
//     xhr.onload = function (e) {
//         initSound(this.response); // this.response is an ArrayBuffer.
//     };
//     xhr.send();
// }

</script>
{% endblock %}
{% block content %}
    <h1>Welcome {{user.username}}</h1>

    <h3>Create Album</h3>
    <form action="/streeTunes/create-album/" method="POST">
        {% csrf_token %}
        <input type='text' name='title' maxlength="50" placeholder="Title"/>
        <input type='submit'>
    </form>

    <h3>Upload Songs</h3>
    <form action='/streeTunes/upload/' method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <input type='text' name='title' placeholder="Title"/>
        <select name='album_id'>
            {% for album in data %}
            <option value='{{album.album_id}}'>{{album.title}}</option>
            {% endfor %}
        </select>
        <input type='file' name='media'/>
        <input type='submit'>
    </form>

    <div class='all_songs'>
        {% for album in data %}
        <section class='ablum'>
            <h2>{{album.title}}</h2>
            <button>Remove Album</button>
            {% for song in album.songs %}
                <div class='song'>
                    <h3>{{song.title}}</h3>
                    <audio controls>
                        <source id="source" src="" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <script type="text/javascript">
                        $.ajax({
                            url: '{% url "streeTunes:stream" %}',
                            data: {
                                song_id: '{{song.title}}'
                            },
                            type: 'POST',
                            dataType:'binary',
                            success: function(data) {
                                console.log(typeof data)
                                console.log(bufferToBase64(data));
                                var blob = new Blob([data], {type: 'audio/mpeg'});
                                var url = URL.createObjectURL(blob);
                                $('audio #source').attr('src', url);
                                $('audio').get(0).load();
                                $('audio').get(0).play();

                            }
                        });
                    </script>
                    <button>Remove Song</button>
                </div>
            {% endfor %}
        </section>
        <form action='/streeTunes/genqr/' id='{{album.album_id}}' method="POST">
            {% csrf_token %}
            <input type='hidden' value='{{album.album_id}}' name='album_id'/>
            <input type='number' step="0.0000001" class="longitude" name='longitude' hidden/>
            <input type='number' step="0.0000001" class="latitude" name='latitude' hidden/>
            <input type='button' value='Generate QR code' onclick="getLocationConstant('{{album.album_id}}')"/>
        </form>
        {% endfor %}
    </div>


    <script>
    'use strict'
    let form, longitude, latitude

    function getLocationConstant(form_id) {
        form = document.getElementById(form_id)
        longitude = form.getElementsByClassName("longitude")[0]
        latitude = form.getElementsByClassName("latitude")[0]

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
        } else {
            alert("Your browser or device doesn't support Geolocation");
        }
    }

    // If we have a successful location update
    function onGeoSuccess(event) {
        latitude.value = event.coords.latitude;
        longitude.value = event.coords.longitude;
        form.submit()
    }

    // If something has gone wrong with the geolocation request
    function onGeoError(event) {
        alert("Error code " + event.code + ". " + event.message);
    }

    </script>
{% endblock %}


