body {
	font-family: Verdana, "Times New Roman";
	background-color: #8a8a8a;
	width: 100%;
	margin: 0;
}

nav {
	width: 100%;
	height: 45px;
	margin-bottom: 50px;
	background-color: #cc4b37;
}

nav > ul {
	display: flex;
	height: inherit;
	margin: 0;
	padding :0;
}

.nav-link {
	margin: 0;
	display: inline-block;
	height: inherit;
	width: 20%;
	text-align: center;
	list-style: none;
	border: solid black 1px;
	text-decoration: none;
}

.nav-link:hover {
	background-color: HotPink;
}

.nav-link > li {
	color: white;
	font-size: 1.3em;
	width: 115px;
	text-align: center;
	margin: auto;
	margin-top: 5%;

}

#content {
	width: 60%;
	margin: auto;
}

#footer {
	margin-top: 40px;
	width: 100%
}